body {
  position: relative;
  height: 70em;
}

#comment {
  font-size: 1.3em;
}

#initialState {
  position: relative;
  top: 4em;
  font-size: 1.2em;
  padding-left: 20%;
}

#info {
  position: relative;
  display: flex;
  padding-left: 20%;
  padding-right: 20%;
  top: 4em;
  font-size: 1.2em;
}

#initialCube {
  padding-right: 10%;
  width: 20em;
  min-width: 12em;
}

#shuffle {
  position: relative;
  padding-left: 20%;
  top: 7em;
}

#command {
  min-width: 8em;
}

#count {
  width: 20px;
}

#inputText,
#outputText {
  top: 7em;
}

#inputValue {
  top: 10em;
}

.result {
  top: 7em;
  margin-bottom: 20px;
}
